<?xml version ="1.0"?>
<configuration>
    <configSections>
        <section name="msbuildToolsets" type="Microsoft.Build.BuildEngine.ToolsetConfigurationSection, Microsoft.Build.Engine, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0.30319" />
        <requiredRuntime version="v4.0.30319" safemode="true"/>
    </startup>
    <runtime>
        <UseSmallInternalThreadStacks enabled="true" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="PublicAssemblies;PrivateAssemblies;CommonExtensions\Microsoft\TemplateProviders;..\..\vc\vcpackages;StartPageAssemblies;CommonExtensions\Microsoft\Editor;CommonExtensions\Platform\Debugger"/>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="2.0.0.0" newVersion="10.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell.9.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="2.0.0.0" newVersion="10.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="7.0.3300.0" newVersion="8.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VSDesigner" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
            </dependentAssembly>
            
            <qualifyAssembly
                partialName="Microsoft.VisualStudio.HpcDebugger.Impl"
                fullName="Microsoft.VisualStudio.HpcDebugger.Impl,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral"/>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\Microsoft.VisualStudio.HpcDebugger.Impl.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="en" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\en\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="ja" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\ja\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="de" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\de\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="es" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\es\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="fr" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\fr\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="it" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\it\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="ko" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\ko\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="ru" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\ru\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="zh-Hans" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\zh-Hans\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="zh-Hant" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\zh-Hant\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="pt-BR" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\pt-BR\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="pl" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\pl\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="cs" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\cs\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="tr" publicKeyToken="b03f5f7f11d50a3a" />
                <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\tr\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
            </dependentAssembly>
            
            <qualifyAssembly
                partialName="Microsoft.XmlEditor"
                fullName="Microsoft.XmlEditor,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral" />
            <dependentAssembly>
              <assemblyIdentity version="10.0.0.0" name="Microsoft.XmlEditor" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
              <codeBase version="10.0.0.0" href="Xml\Microsoft.XmlEditor.dll" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.net>
        <settings>
            <ipv6 enabled="true" />
        </settings>
    </system.net>
</configuration>
